.footer {
  display: flex;
  width: 100%;
  background-color: var(--background-grey);
  color: #fff;
}

.footer-link-list {
  list-style: none;
  padding: 0;
}

.footer-link-item {
  margin-top: 10px;
  cursor: pointer;
}

.footer-link-item:hover {
  color: #d3d3d3;
}
